$app-header-background-color: #4c3356;//#34574b;
$app-header-color: #d7d7d7;
$app-header-clickable-color: #d7d7d7;

$app-toolbox-background-color: #919191;
$app-toolbox-color: #0f0f0f;

$app-header-toolbox-box-radius: 5px;

$app-padding-horizontal: 20px;
$app-body-background-color: #c3c3c3;
$app-body-color: #0f0f0f;

$app-small-width: 600px;
$app-middle-width: 1000px;

$app-error-box-background-color: #ae0000;
$app-info-box-background-color: #327b36;
$app-message-box-color: #d7d7d7;


html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body {
  height: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  margin: 0;
}

.app-layout {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  /* min-width: 480px; */
  /* max-width: 600px; */
  //margin-left: auto;
  //margin-right: auto;
}

.app-header {
  padding: 8px $app-padding-horizontal;
  color: $app-header-color;
  background-color: $app-header-background-color;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 0 0 auto;
  .header-group {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    span {
      white-space: nowrap;
    }
    &.right {
      margin-left: auto;
    }
    &.center {
      margin-left: auto;
      margin-right: auto;
      padding: 0 5px;
    }
    span.version {
      font-size: 0.7em;
      margin-left: 6px;
      margin-top: 0.3em;
    }
  }
}

.app-toolbox {
  padding: 0 $app-padding-horizontal;
  color: $app-toolbox-color;
  background-color: $app-toolbox-background-color;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 0 0 auto;

  .toolbox-group {
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    margin: 5px 5px 0 0;
    border: 1px solid #7d7d7d;
    border-radius: $app-header-toolbox-box-radius;
    &.clear {
      border: none;
      width: 100%;
      padding: 0;
    }
  }
}

.app-message-box {
  padding: 5px $app-padding-horizontal;
  background-color: #3d3d3d;
  color: $app-message-box-color;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex: 0 0 auto;
  .close-button {
    margin-right: 7px;
    cursor: pointer;
    color: lighten($app-message-box-color, 10%);
    padding: 2px 0;
    border: 1px solid transparentize(desaturate($app-message-box-color, 50%), 0.5);
    border-radius: $app-header-toolbox-box-radius;
    &:hover {
      color: lighten($app-message-box-color, 15%);
      &.error {
        background-color: lighten($app-error-box-background-color, 5%);
      }
      &.info {
        background-color: lighten($app-info-box-background-color, 5%);
      }
    }
  }
  &.error {
    background-color: $app-error-box-background-color;
  }
  &.info {
    background-color: $app-info-box-background-color;
  }
}

.app-body {
  overflow-y: auto;
  padding: 0 $app-padding-horizontal;
  color: $app-body-color;
  background-color: $app-body-background-color;
}

.fa-icon {
  margin-left: 20px;
  margin-right: 7px;
  &.first {
    margin-left: 0;
  }
  &.last {
    margin-right: 0;
  }
  &.next {
    margin-left: 7px;
  }
  &.clickable {
    cursor: pointer;
    color: $app-header-clickable-color;
    padding: 3px;
    //border: 1px solid lighten($app-header-background-color, 10%);
    border: 1px solid transparentize(desaturate($app-header-clickable-color, 50%), 0.7);
    border-radius: $app-header-toolbox-box-radius;
    &:hover {
      color: lighten($app-header-color, 15%);
      background-color: lighten($app-header-background-color, 3%);
    }
  }
}

@media only screen and (max-width: $app-small-width) {
  .header-group.hidden-sm {
    display: none;
  }
}