$app-header-background-color: #4c3356;//#34574b;
$app-header-color: #d7d7d7;
$app-header-clickable-color: #d7d7d7;
$app-max-width: 1280px;

$app-header-button-radius: 0.3rem;

$app-padding-horizontal: 1.3rem;

$app-error-box-background-color: #ae0000;
$app-info-box-background-color: #327b36;
$app-warn-box-background-color: #edab44;


html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  @include media(">=small-phone") {
    font-size: 13px;
  }
  @include media(">=phone") {
    font-size: 14px;
  }
  @include media(">=tablet") {
    font-size: 15px;
  }
  @include media(">=desktop") {
    font-size: 16px;
  }
}

body {
  height: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  ::-webkit-scrollbar {
    //display: none;
    //width: 15px;
  }
}

.app-layout {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #dcdcdc;
}
.app-header-outer {
  background-color: $app-header-background-color;
  .app-header {
    padding: 8px $app-padding-horizontal;
    color: $app-header-color;
    //background-color: $app-header-background-color;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex: 0 0 auto;
    max-width: $app-max-width;
    margin: 0 auto;
    .header-group {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      span {
        white-space: nowrap;
      }
      &.right {
        margin-left: auto;
      }
      &.center {
        margin-left: auto;
        margin-right: auto;
        padding: 0 0.3rem;
      }
      span.version {
        font-size: 0.6rem;
        margin-left: 0.3rem;
        align-self: flex-end;
        margin-bottom: 0.2rem;
        @include media("<desktop") {
          display: none;
        }
      }
      span.app-name {
        margin-left: 0.2rem;
        @include media("<phone") {
          display: none;
        }
      }
      .header-divider {
        background-color: $app-header-color;
        width: 2px;
        height: 1.2rem;
        //margin: 0 1rem;
        margin: 0 0.7rem;
        opacity: 0.8;
      }
      &.header-date {
        @include media("<desktop") {
          display: none;
        }
      }
      &.header-switch {
        //width: 30rem;
        height: 1.6rem;
        display: inline-flex;
        margin-right: 0.5rem;
        //font-size: 0.95rem;
        .switch {
          //width: 25%;
          border-top: 1px solid transparentize(desaturate($app-header-clickable-color, 50%), 0.7);
          border-bottom: 1px solid transparentize(desaturate($app-header-clickable-color, 50%), 0.7);
          border-right: 1px solid transparentize(desaturate($app-header-clickable-color, 50%), 0.7);
          text-align: center;
          color: $app-header-clickable-color;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 0.5rem;
          .fa-layout-icon {
            //margin-right: 0.5rem;
          }
          .switch-text {
            font-size: 0.9rem;
            margin-left: 0.5rem;
            @include media("<=tablet") {
              display: none;
            }
          }
          &:first-child {
            border-top-left-radius: 0.8rem;
            border-bottom-left-radius: 0.8rem;
            border-left: 1px solid transparentize(desaturate($app-header-clickable-color, 50%), 0.7);
          }
          &:last-child {
            border-top-right-radius: 0.8rem;
            border-bottom-right-radius: 0.8rem;
          }
          &.active {
            cursor: default;
            background-color: lighten($app-header-background-color, 20%);
          }
          &.clickable {
            &:hover {
              color: lighten($app-header-color, 15%);
              background-color: transparentize(white, 0.9);
              cursor: pointer;
            }
          }
        }
        @include media("<=phone") {
          margin-right: 0;
        }
      }
      .header-name {
        display: none;
        &.short {
          @include media("<phone") {
            display: inline-block;
          }
        }
        &.long {
          @include media(">=phone") {
            display: inline-block;
          }
        }
      }
    }
  }
}

.app-message-box {
  padding: 0.3rem $app-padding-horizontal 0.3rem $app-padding-horizontal + 0.15rem;
  background-color: #696969;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex: 0 0 auto;
  color: #cecece;
  .close-button {
    margin-right: 7px;
    cursor: pointer;
    padding: 0.15rem;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid;
    border-radius: $app-header-button-radius;
    &:hover {
      background-color: transparentize(white, 0.9);
    }
  }
  &.error {
    color: #e1e1e1;
    background-color: $app-error-box-background-color;
    & > .close-button:not(:hover) {
      color: #cdcdcd;
    }
  }
  &.info {
    color: #e1e1e1;
    background-color: $app-info-box-background-color;
    & > .close-button:not(:hover) {
      color: #cdcdcd;
    }
  }
  &.warn {
    color: #2d2d2d;
    background-color: $app-warn-box-background-color;
    & > .close-button:not(:hover) {
      color: #494949;
    }
  }
  &.hidden {
    display: none;
  }
}
.app-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  overflow: hidden;
  max-width: $app-max-width;
  margin: 0 auto;
  width: 100%;
}

.fa-icon {
  &.margin-left {
    margin-left: 0.5rem;
  }
  &.margin-right {
    margin-right: 0.5rem;
  }
  &.clickable {
    cursor: pointer;
    color: $app-header-clickable-color;
    padding: 0.2rem;
    width: 1.6rem;
    height: 1.6rem;
    border: 1px solid transparentize(desaturate($app-header-clickable-color, 50%), 0.7);
    border-radius: $app-header-button-radius;
    &:hover {
      color: lighten($app-header-color, 15%);
      background-color: lighten($app-header-background-color, 5%);
    }
  }
}

.fetching-indicator {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, 0);
  z-index: 1000;
  animation: delay-spin-bk 100ms ease-in 100ms forwards;
  & > svg {
    margin: auto;
    font-size: 5rem;
    color: rgba(30, 30, 30, 0);
    animation: delay-spin 250ms ease-in 150ms forwards, fa-spin 1.5s infinite linear;
  }
  &.hidden {
    display: none;
  }
}

@keyframes delay-spin {
  from {color: rgba(30, 30, 30, 0);}
  to {color: rgba(30, 30, 30, 0.8);}
}
@keyframes delay-spin-bk {
  from {background-color: rgba(30, 30, 30, 0);}
  to {background-color: rgba(30, 30, 30, 0.3);}
}
