$detail-font-size: 0.9rem;

$detail-control-height: 2em;
$detail-control-border-radius: 0.3em; //1em
$detail-control-padding-horizontal: 0.7em;
$detail-control-padding-vertical: 0em;

$detail-body-padding-horizontal: $app-padding-horizontal;
$detail-body-background-color: #c3c3c3;
$detail-body-color: #0f0f0f;

$detail-group-padding-horizontal: 0.8rem;
$detail-group-padding-vertical: 0.3rem;

$detail-array-line-control-space: 0.5em;

.detail-body {
  color: $detail-body-color;
  background-color: $detail-body-background-color;
  padding: $detail-body-padding-horizontal;
  font-size: $detail-font-size;
  width: 100%;
  margin-bottom: 0;
  .detail-row {
    &.spacer::before {
      content: '';
      width: 100%;
      margin: 0.5rem $detail-group-padding-horizontal;
      height: 1px;
      background-color: #9c9c9c;
    }
    display: flex;
    flex: 0 0 100%;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1* $detail-group-padding-horizontal;
    .detail-group {
      /*
      &.spacer::before {
        content: '';
        width: 100%;
        margin: 0.5rem 0;
        height: 1px;
        background-color: #9c9c9c;
      }
      */
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: $detail-group-padding-vertical $detail-group-padding-horizontal;
      flex: 0 0 100%;
      max-width: 100%;
      &.column {
        flex-direction: column;
        align-items: flex-start;
        justify-items: flex-start;
      }

      &.size-1 {flex: 0 0 8.3333%; max-width: 8.3333%}
      &.size-2 {flex: 0 0 16.6666%; max-width: 16.6667%}
      &.size-3 {flex: 0 0 25%; max-width: 25%}
      &.size-4 {flex: 0 0 33.3333%; max-width: 33.3333%}
      &.size-5 {flex: 0 0 41.6667%; max-width: 41.6667%}
      &.size-6 {flex: 0 0 50%; max-width: 50%}
      &.size-7 {flex: 0 0 58.3333%; max-width: 58.3333%}
      &.size-8 {flex: 0 0 66.6667%; max-width: 66.6667%}
      &.size-9 {flex: 0 0 75%; max-width: 75%}
      &.size-10 {flex: 0 0 83.3333%; max-width: 83.3333%}
      &.size-11 {flex: 0 0 91.6667%; max-width: 91.6661%}
      &.size-12 {flex: 0 0 100%; max-width: 100%}
      @include media("<=tablet") {
        //&.size-1 {flex: 0 0 16.6666%; max-width: 16.6666%}
        &.size-2 {flex: 0 0 25%; max-width: 25%}
        &.size-3, &.size-4 {flex: 0 0 50%; max-width: 50%}
        //&.size-4 {flex: 0 0 50%; max-width: 50%}
        &.size-5, &.size-6, &.size-7, &.size-8, &.size-9, &.size-10, &.size-11, &.size-12 {flex: 0 0 100%; max-width: 100%}
      }
      @include media("<=phone") {
        flex: 0 0 100%;
        max-width: 100%;
        min-width: 100%;
      }
      @include media("<=small-phone") {
        flex-wrap: wrap;
      }
      .detail-group-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .detail-array-line {
          &.spacer:nth-child(odd):after {
            content: '';
            width: 1px;
            background-color: #9c9c9c;
            height: 100%;
            margin-left: 0.8em;
            @include media("<=tablet") {
              display: none;
            }
          }
          &.spacer:nth-child(even):before {
            content: '';
            width: 1px;
            height: 100%;
            margin-right: 0.8em;
            @include media("<=tablet") {
              display: none;
            }
          }
        }
      }
      .detail-array-line {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        &.size-6 {
          width: 50%;
          @include media("<=tablet") {
            width: 100%;
          }
        }
        .remove-icon {
          margin-right: 0.5em;
          width: 1em;
          cursor: pointer;
          color: #868686;
          margin-top: 0.5em;
          &:hover {
            color: #9e4534;
          }
        }

        .line-content {
          .wrapper {
            display: flex;
            flex-wrap: nowrap;
          }
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          margin-right: -$detail-array-line-control-space;
          padding-bottom: 0.3em;
          & > * {
            flex-basis: auto;
            flex-grow: 1;
            margin-right: $detail-array-line-control-space;
            margin-bottom: 1px;
          }

          // company
          .company-name {
            width: calc(25% - #{$detail-array-line-control-space});
            @include media("<=tablet") {width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .company-business {
            width: calc(35% - #{$detail-array-line-control-space});
            @include media("<=tablet") {width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .company-note {
            width: calc(40% - #{$detail-array-line-control-space});
            @include media("<=tablet") { width: calc(10% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }

          // person
          .person-name {
            width: calc(25% - #{$detail-array-line-control-space});
            @include media("<=tablet") {width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .person-profession {
            width: calc(35% - #{$detail-array-line-control-space});
            @include media("<=tablet") { width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .person-company {
            width: calc(15% - #{$detail-array-line-control-space});
            @include media("<=tablet") { width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .person-note {
            width: calc(25% - #{$detail-array-line-control-space});
            @include media("<=tablet") { width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }

          // team
          .team-name {
            width: calc(50% - #{$detail-array-line-control-space});
            @include media("<=small-phone") {width: 100%}
          }
          .team-role {
            width: calc(50% - #{$detail-array-line-control-space});
            @include media("<=small-phone") {width: 100%}
          }
          // contact
          .contact-type {
            width: calc(35% - #{$detail-array-line-control-space});
            @include media("<=small-phone") {width: 100%}
          }
          .contact-data {
            width: calc(65% - #{$detail-array-line-control-space});
            @include media("<=small-phone") {width: 100%}
          }
        }
      }
    }

    .detail-value {
      width: 100%;
      font-size: $detail-font-size;
      font-style: normal;
      height: $detail-control-height;
      padding: 0.2em $detail-control-padding-horizontal;
      background-color: #d7d7d7;
      align-items: center;
      border: 1px solid #9b9b9b;
      border-radius: $detail-control-border-radius;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.selectable {
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
        user-select: text;
      }
      &.group {
        display: flex;
        flex-wrap: nowrap;
        .value-item {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          align-items: center;
          padding-right: 1em;
          &.highlighted {
            color: lighten($app-header-background-color, 20%);
          }
          &.selectable {
            -moz-user-select: text;
            -webkit-user-select: text;
            -ms-user-select: text;
            user-select: text;
          }
          &.clickable {
            cursor: pointer;
          }
          &:not(:last-child) {
            &.comma {
              padding-right: 0.5em;
              &::after {
                content: ',';
              }
            }
          }
          .svg-inline--fa {
            margin-right: 0.3em;
          }
          a {
            &:link {
              color: inherit;
            }
            &:visited {
              color: inherit;
            }
          }
        }
        &.wrap {
          flex-wrap: wrap;
          height: auto;
          min-height: $detail-control-height;
          overflow: visible;
          .value-item {
            overflow: visible;
          }
        }
      }
    }
  }
}





