$detail-font-size: 0.9rem;

$detail-body-padding-horizontal: $app-padding-horizontal;
$detail-body-background-color: #c3c3c3;
$detail-body-color: #0f0f0f;

$detail-group-padding-horizontal: 0.8rem;
$detail-group-padding-vertical: 0.3rem;

$detail-array-line-control-space: 0.5em;

.detail-body {
  color: $detail-body-color;
  background-color: $detail-body-background-color;
  padding: $detail-body-padding-horizontal;
  font-size: $detail-font-size;
  width: 100%;
  margin-bottom: 0;
  .detail-row {
    &.spacer::before {
      content: '';
      width: 100%;
      margin: 0.5rem $detail-group-padding-horizontal;
      height: 1px;
      background-color: #9c9c9c;
    }
    display: flex;
    flex: 0 0 100%;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1* $detail-group-padding-horizontal;
    .detail-group {
      &.spacer::before {
        content: '';
        width: 100%;
        margin: 0.5rem 0;
        height: 1px;
        background-color: #9c9c9c;
      }
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: $detail-group-padding-vertical $detail-group-padding-horizontal;
      flex: 0 0 100%;
      max-width: 100%;
      &.column {
        flex-direction: column;
        align-items: flex-start;
        justify-items: flex-start;
      }

      &.size-1 {flex: 0 0 8.3333%; max-width: 8.3333%}
      &.size-2 {flex: 0 0 16.6666%; max-width: 16.6667%}
      &.size-3 {flex: 0 0 25%; max-width: 25%}
      &.size-4 {flex: 0 0 33.3333%; max-width: 33.3333%}
      &.size-5 {flex: 0 0 41.6667%; max-width: 41.6667%}
      &.size-6 {flex: 0 0 50%; max-width: 50%}
      &.size-7 {flex: 0 0 58.3333%; max-width: 58.3333%}
      &.size-8 {flex: 0 0 66.6667%; max-width: 66.6667%}
      &.size-9 {flex: 0 0 75%; max-width: 75%}
      &.size-10 {flex: 0 0 83.3333%; max-width: 83.3333%}
      &.size-11 {flex: 0 0 91.6667%; max-width: 91.6661%}
      &.size-12 {flex: 0 0 100%; max-width: 100%}
      @include media("<=tablet") {
        &.size-1 {flex: 0 0 16.6666%; max-width: 16.6666%}
        &.size-2 {flex: 0 0 25%; max-width: 25%}
        &.size-3 {flex: 0 0 33.3333%; max-width: 33.3333%}
        &.size-4 {flex: 0 0 50%; max-width: 50%}
        &.size-5, &.size-6, &.size-7, &.size-8, &.size-9, &.size-10, &.size-11, &.size-12 {flex: 0 0 100%; max-width: 100%}
      }
      @include media("<=phone") {
        flex: 0 0 100%;
        max-width: 100%;
        min-width: 100%;
      }
      @include media("<=small-phone") {
        flex-wrap: wrap;
      }
      .detail-group-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1em;
        width: 100%;
        .detail-array-line {
          padding: 0 1em;
          &.spacer:nth-child(odd) {
            border-right: 1px solid #9c9c9c;
            @include media("<=tablet") {
              border-right: none;
            }
          }
        }
      }
      .detail-array-line {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        &.size-6 {
          width: 50%;
          @include media("<=tablet") {
            width: 100%;
          }
        }
        .remove-icon {
          margin-right: 0.5em;
          width: 1em;
          cursor: pointer;
          color: #4b4b4b;
          margin-top: 0.4em;
        }
        .line-content {
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          margin-right: -$detail-array-line-control-space;
          padding-bottom: 0.3em;
          & > * {
            flex-basis: auto;
            flex-grow: 1;
            margin-right: $detail-array-line-control-space;
            margin-bottom: 1px;
          }

          // company
          .company-name {
            width: calc(25% - #{$detail-array-line-control-space});
            @include media("<=tablet") {width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .company-role {
            width: calc(25% - #{$detail-array-line-control-space});
            @include media("<=tablet") {width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .company-rating {
            width: calc(25% - #{$detail-array-line-control-space});
            @include media("<=tablet") { width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .company-note {
            width: calc(25% - #{$detail-array-line-control-space});
            @include media("<=tablet") { width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }

          // person
          .person-name {
            width: calc(25% - #{$detail-array-line-control-space});
            @include media("<=tablet") {width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .person-role {
            width: calc(16.6% - #{$detail-array-line-control-space});
            @include media("<=tablet") {width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .person-rating {
            width: calc(16.6% - #{$detail-array-line-control-space});
            @include media("<=tablet") { width: calc(33.3% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .person-profession {
            width: calc(16.7% - #{$detail-array-line-control-space});
            @include media("<=tablet") { width: calc(33.3% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .person-note {
            width: calc(25% - #{$detail-array-line-control-space});
            @include media("<=tablet") { width: calc(33.4% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }

          // team
          .team-name {
            width: calc(50% - #{$detail-array-line-control-space});
            //@include media("<=tablet") {width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=small-phone") {width: 100%}
          }
          .team-role {
            width: calc(50% - #{$detail-array-line-control-space});
            //@include media("<=tablet") {width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=small-phone") {width: 100%}
          }
        }

      }
    }
  }
}





