$detail-font-size: 0.9rem;

$detail-control-height: 2em;
$detail-control-border-radius: 0.4em; //1em
$detail-control-padding-horizontal: 0.7em;
$detail-control-padding-vertical: 0em;

$detail-body-padding-horizontal: $app-padding-horizontal;
$detail-body-background-color: #c3c3c3;
$detail-body-edit-background-color: desaturate(lighten($app-header-background-color, 50%), 23%);
$detail-body-color: #0f0f0f;

$detail-group-padding-horizontal: 0.8rem;
$detail-group-padding-vertical: 0.3rem;

$detail-array-line-control-space: 0.5em;

$detail-value-background-color: #e6e6e6;
$detail-value-background-color-2: #d7d7d7;
$detail-value-border-color: #9b9b9b;

$detail-client-person-padding-left: 1em;

.detail-body {
  color: $detail-body-color;
  background-color: $detail-body-background-color;
  padding: $detail-body-padding-horizontal;
  font-size: $detail-font-size;
  width: 100%;
  margin-bottom: 0;
  &.edit {
    background-color: $detail-body-edit-background-color;
  }
  .detail-row {
    &.spacer::before {
      content: '';
      width: 100%;
      margin: 0.5rem $detail-group-padding-horizontal;
      height: 1px;
      background-color: #9c9c9c;
    }
    display: flex;
    flex: 0 0 100%;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1* $detail-group-padding-horizontal;
    .detail-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: $detail-group-padding-vertical $detail-group-padding-horizontal;
      flex: 0 0 100%;
      max-width: 100%;
      &.column {
        flex-direction: column;
        align-items: flex-start;
        justify-items: flex-start;
      }

      &.size-1 {flex: 0 0 8.3333%; max-width: 8.3333%}
      &.size-2 {flex: 0 0 16.6666%; max-width: 16.6667%}
      &.size-3 {flex: 0 0 25%; max-width: 25%}
      &.size-4 {flex: 0 0 33.3333%; max-width: 33.3333%}
      &.size-5 {flex: 0 0 41.6667%; max-width: 41.6667%}
      &.size-6 {flex: 0 0 50%; max-width: 50%}
      &.size-7 {flex: 0 0 58.3333%; max-width: 58.3333%}
      &.size-8 {flex: 0 0 66.6667%; max-width: 66.6667%}
      &.size-9 {flex: 0 0 75%; max-width: 75%}
      &.size-10 {flex: 0 0 83.3333%; max-width: 83.3333%}
      &.size-11 {flex: 0 0 91.6667%; max-width: 91.6661%}
      &.size-12 {flex: 0 0 100%; max-width: 100%}
      @include media("<=tablet") {
        //&.size-1 {flex: 0 0 16.6666%; max-width: 16.6666%}
        &.size-2 {flex: 0 0 25%; max-width: 25%}
        &.size-3 {flex: 0 0 50%; max-width: 50%}
        //&.size-4 {flex: 0 0 50%; max-width: 50%}
        &.size-4, &.size-5, &.size-6, &.size-7, &.size-8, &.size-9, &.size-10, &.size-11, &.size-12 {flex: 0 0 100%; max-width: 100%}
      }
      @include media("<=phone") {
        flex: 0 0 100%;
        max-width: 100%;
        min-width: 100%;
      }
      @include media("<=small-phone") {
        flex-wrap: wrap;
      }
      .detail-group-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        .detail-array-line {
          &.spacer:nth-child(odd):after {
            content: '';
            width: 1px;
            background-color: #9c9c9c;
            height: 100%;
            margin-left: 0.8em;
            @include media("<=tablet") {
              display: none;
            }
          }
          &.spacer:nth-child(even):before {
            content: '';
            width: 1px;
            height: 100%;
            margin-right: 0.8em;
            @include media("<=tablet") {
              display: none;
            }
          }
        }
      }
      .detail-subject-project, .detail-subject-person, .detail-subject-company {
        display: flex;
        width: 100%;
        font-size: $detail-font-size;
        font-style: normal;
        border: 1px solid $detail-value-border-color;
        border-radius: $detail-control-border-radius;
        flex-direction: column;
        background-color: $detail-value-background-color;
        .project, .person , .company {
          display: flex;
          width: 100%;
          padding: 0.2em $detail-control-padding-horizontal;
          flex-wrap: wrap;
          &:not(:last-child) {
            border-bottom: 1px solid $detail-value-border-color;
          }
          .name {
            white-space: nowrap;
            display: flex;
            align-items: baseline;
            flex: 0 0 40%;
            @include media("<=phone") {
              flex: 0 0 100%;
            }
            .flag-icon {
              margin-left: 0.3em;
              font-size: 0.8em;
              &.first {
                margin-left: 1em;
              }
            }
          }
          .role {
            white-space: nowrap;
            flex: 0 0 60%;
            @include media("<=phone") {
              flex: 0 0 100%;
            }
          }
        }
      }
      .detail-project-client {
        display: flex;
        width: 100%;
        font-size: $detail-font-size;
        font-style: normal;
        border: 1px solid $detail-value-border-color;
        border-radius: $detail-control-border-radius;
        flex-direction: column;
        &:not(:last-child) {
          margin-bottom: 0.4em;
        }
        .company {
          background-color: $detail-value-background-color-2;
          border-bottom: 1px solid $detail-value-border-color;
          border-top-left-radius: $detail-control-border-radius;
          border-top-right-radius: $detail-control-border-radius;
          &.empty {
            border-bottom: none;
            border-bottom-left-radius: $detail-control-border-radius;
            border-bottom-right-radius: $detail-control-border-radius;
          }
        }
        .person {
          background-color: $detail-value-background-color;
          &:not(:last-child) {
            border-bottom: 1px solid $detail-value-border-color;
          }
          &:last-child {
            border-bottom-left-radius: $detail-control-border-radius;
            border-bottom-right-radius: $detail-control-border-radius;
          }
        }
        .company, .person {
          padding: 0.2em $detail-control-padding-horizontal;
          display: flex;
          flex-wrap: wrap;
          .flex-center {
            display: flex;
            align-items: center;
          }
          .role-icon {
            margin-left: 0.3em;
            font-size: 0.8em;
            margin-top: 0.1em;
            &.first {
              margin-left: 1em;
            }
          }
          .field {
            padding-right: 0.7em;
            &.name {
              flex-wrap: nowrap;
              display: flex;
              flex: 0 0 25%;
              max-width: 25%;
              @include media("<=tablet") {
                flex: 0 0 30%;
                max-width: 30%;
              }
            }
            &.profession-business {
              display: flex;
              flex-wrap: wrap;
              flex: 0 0 45%;
              max-width: 45%;
              @include media("<=tablet") {
                flex: 0 0 70%;
                max-width: 70%;
              }
              &.wide {
                flex: 0 0 75%;
                max-width: 75%;
                @include media("<=tablet") {
                  flex: 0 0 75%;
                  max-width: 75%;
                }
              }
              .item {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:not(:last-child):after {
                  content: ', ';
                  margin-right: 0.4em;
                }
                &.disabled {
                  color: lighten($detail-body-color, 50%);
                }
              }
            }
            &.note {
              flex: 0 0 30%;
              max-width: 30%;
              @include media("<=tablet") {
                flex: 0 0 100%;
                max-width: 100%;
              }
            }
          }
        }
        .person .field.name {
          padding-left: $detail-client-person-padding-left;
        }

      }
      .clickable {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
      .prefix-icon {
        font-size: 0.7rem;
        margin-right: 0.2rem;
      }
      .detail-array-line {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        &.size-6 {
          width: 50%;
          @include media("<=tablet") {
            width: 100%;
          }
        }
        .remove-icon {
          margin-right: 0.5em;
          width: 1em;
          cursor: pointer;
          color: #868686;
          margin-top: 0.5em;
          &:hover {
            color: #9e4534;
          }
        }

        .line-content {
          .wrapper {
            display: flex;
            flex-wrap: nowrap;
          }
          display: flex;
          width: 100%;
          flex-wrap: wrap;
          margin-right: -$detail-array-line-control-space;
          padding-bottom: 0.3em;
          & > * {
            flex-basis: auto;
            flex-grow: 1;
            margin-right: $detail-array-line-control-space;
            margin-bottom: 1px;
          }

          // company
          .company-name {
            width: calc(25% - #{$detail-array-line-control-space});
            @include media("<=tablet") {width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .company-business {
            width: calc(35% - #{$detail-array-line-control-space});
            @include media("<=tablet") {width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .company-note {
            width: calc(40% - #{$detail-array-line-control-space});
            @include media("<=tablet") { width: calc(10% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }

          // person
          .person-name {
            width: calc(25% - #{$detail-array-line-control-space});
            @include media("<=tablet") {width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .person-profession {
            width: calc(35% - #{$detail-array-line-control-space});
            @include media("<=tablet") { width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .person-company {
            width: calc(15% - #{$detail-array-line-control-space});
            @include media("<=tablet") { width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          .person-note {
            width: calc(25% - #{$detail-array-line-control-space});
            @include media("<=tablet") { width: calc(50% - #{$detail-array-line-control-space});}
            @include media("<=phone") {width: 100%}
          }
          //timing

          .timing-label {
            width: calc(50% - #{$detail-array-line-control-space});
            @include media("<=small-phone") {width: 100%}
          }

          // team
          .team-name {
            width: calc(50% - #{$detail-array-line-control-space});
            @include media("<=small-phone") {width: 100%}
          }
          .team-role {
            width: calc(50% - #{$detail-array-line-control-space});
            @include media("<=small-phone") {width: 100%}
          }
          // contact
          .contact-type {
            width: calc(35% - #{$detail-array-line-control-space});
            @include media("<=small-phone") {width: 100%}
          }
          .contact-data {
            width: calc(65% - #{$detail-array-line-control-space});
            @include media("<=small-phone") {width: 100%}
          }
        }
      }
    }

    .detail-value {
      width: 100%;
      font-size: $detail-font-size;
      font-style: normal;
      height: $detail-control-height;
      padding: 0.2em $detail-control-padding-horizontal;
      background-color: $detail-value-background-color;
      align-items: center;
      border: 1px solid $detail-value-border-color;
      border-radius: $detail-control-border-radius;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.multi-line {
        height: auto;
        min-height: $detail-control-height;
        white-space: pre-wrap;
      }
      &.selectable {
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
        user-select: text;
      }
      &.group {
        display: flex;
        flex-wrap: nowrap;
        .value-item {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          align-items: center;
          padding-right: 1em;
          &.highlighted {
            color: lighten($app-header-background-color, 20%);
          }
          &.selectable {
            -moz-user-select: text;
            -webkit-user-select: text;
            -ms-user-select: text;
            user-select: text;
          }
          &.clickable {
            cursor: pointer;
            &.underline:hover {
              text-decoration: underline;
            }
          }
          &:not(:last-child) {
            &.comma {
              padding-right: 0.5em;
              &::after {
                content: ',';
              }
            }
          }
          .svg-inline--fa {
            margin-right: 0.3em;
          }
          a {
            &:link {
              color: inherit;
            }
            &:visited {
              color: inherit;
            }
          }
        }
        &.wrap {
          flex-wrap: wrap;
          height: auto;
          min-height: $detail-control-height;
          overflow: visible;
          .value-item {
            overflow: visible;
          }
        }
      }
      .alias-name {
        margin-left: 1em;
        font-size: 0.8rem;
        opacity: 0.6;
        &::before {
          content: "[";
        }
        &::after {
          content: "]";
        }
      }
    }
    .datepicker-container {
      .react-datepicker-wrapper, .react-datepicker__input-container {
        width: 100%;
      }
    }
    .datepicker-container.full-width {
      > * {
        width: 100%;
      }
    }
    .datepicker-container.timing {
      > * {
        width: 48%;
      }
    }
  }
}





