$detail-control-focus-color: $app-header-background-color;

$detail-label-width: 8em;

$detail-control-invalid-color: #f5d3d7;

$detail-multi-select-radius: 0.1em;//0.6em;

$table-control-height: 1.6em;
$table-control-padding-horizontal: 0.6em;
$table-control-padding-vertical: 0.1em;
$table-control-focus-color: $app-header-background-color;

$detail-control-background-color: #f5f5f5;
$table-control-background-color: #f5f5f5;


.detail-label {
  font-size: $detail-font-size;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  max-width: $detail-label-width;
  min-width: $detail-label-width;
  white-space: nowrap;
  align-items: center;
  //padding-right: 0.5em;
  //justify-content: flex-end;
  &.value-changed {
    color: lighten($app-header-background-color, 15%);
  }
  &.clickable {
    cursor: pointer;
    &:hover .label-icon {
      color: lighten($app-header-background-color, 15%);
    }
  }
  .label-icon {
    font-size: 1.1em;
    margin-top: -0.1em;
    color: #868686;
    margin-left: 0.2em;
  }
  &.column {
    justify-content: flex-start;
    margin-bottom: 0.4em;
  }
}



.detail-input, .detail-date-picker {
  width: 100%;
  font-size: $detail-font-size;
  font-style: normal;
  height: $detail-control-height;
  padding: $detail-control-padding-vertical $detail-control-padding-horizontal;
  background-color: $detail-control-background-color;
  //border-color: #9b9b9b;
  border: 1px solid #9b9b9b;
  border-radius: $detail-control-border-radius;
  &.invalid {
    background-color: $detail-control-invalid-color;
    &:focus {
      background-color: $detail-control-invalid-color;
    }
  }
  &:focus {
    background-color: $detail-control-background-color;
    border-color: lighten($detail-control-focus-color, 50%);
    outline: none;
    box-shadow: 0 0 0 0.06em lighten($detail-control-focus-color, 30%);
  }

  &:disabled {
    background-color: #e6e6e6;
  }

  &.readonly {
    background-color: $detail-body-background-color;
  }
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #afafaf;
    opacity: 1; /* Firefox */
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #afafaf;
  }
  &::-ms-input-placeholder { /* Microsoft Edge */
    color: #afafaf;
  }
}
.react-datepicker__close-icon::after {
  background: none;
  color: gray;
  font-size: 1em;
  margin-bottom: 0.1em;
}

.react-datepicker-popper {
  top: -4px!important;
  .react-datepicker {
    border-radius: $detail-control-border-radius!important;
    .react-datepicker__header {
      border-top-left-radius: $detail-control-border-radius;
      border-top-right-radius: $detail-control-border-radius;
    }
  }
}



.control-select {
  width: 100%;
  font-size: $detail-font-size;
  .control-select__placeholder {
    white-space: nowrap;
    font-weight: lighter;
    color: #afafaf;
  }
  .control-select__control {
    min-height: $detail-control-height;
    font-style: normal;
    height: $detail-control-height;
    padding: 0;
    background-color: $detail-control-background-color;
    border-color: #9b9b9b;
    border-radius: $detail-control-border-radius;
    &.control-select__control--is-focused {
      background-color: $detail-control-background-color;
      border-color: lighten($detail-control-focus-color, 50%);
      outline: 0;
      box-shadow: 0 0 0 0.06em lighten($detail-control-focus-color, 30%);
    }
    .control-select__value-container {
      flex-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: $detail-control-padding-vertical ($detail-control-padding-horizontal - 0.15em);
      &.control-select__value-container--is-multi.control-select__value-container--has-value {
        padding: $detail-control-padding-vertical 0.18em;
      }
      .control-select__multi-value {
        border-radius: $detail-multi-select-radius;
        background-color: #ebebeb;
        border: 1px solid rgba(155, 155, 155, 0.51);
      }
      .control-select__multi-value__remove {
        width: 1em;
        padding: 0;
        border-left: 1px solid #d8d8d8;
        &:hover {
          border-top-right-radius: $detail-multi-select-radius;
          border-bottom-right-radius: $detail-multi-select-radius;
          background-color: lighten($detail-control-focus-color, 35%);
          color: #f0f0f0;
        }
      }
      .control-select__multi-value__label {
        padding: 0 0.3em;
        font-size: 0.9 * $detail-font-size;
      }
      &.control-select__value-container--is-multi {
        color: #9b9b9b;
        height: 100%;
      }
    }

    .control-select__indicators {
      .control-select__indicator-separator {
        margin: 0.3em 0;
      }
      .control-select__indicator {
        &.control-select__dropdown-indicator {
          padding: 0 0.3em;
          svg {
            width: 1em;
            height: 1em;
          }
        }
        &.control-select__clear-indicator {
          padding: 0 0.3em;
          svg {
            width: 1em;
            height: 1em;
          }
        }
      }
    }
  }
  &.wrap .control-select__control {
    height: auto;
    .control-select__value-container {
      flex-wrap: wrap;
    }
}
  &.invalid .control-select__control {
    background-color: $detail-control-invalid-color;
    &.control-select__control--is-focused {
      background-color: $detail-control-invalid-color;
    }
  }
  .control-select__menu {
    margin-top: 0.15em;
    border-radius: 0.2em;
    background-color: $detail-control-background-color;
    .control-select__menu-list {
      padding: 0;
      max-height: 8 * (1.43em + ($detail-control-padding-vertical *2) );
      .control-select__option {
        margin: 0;
        padding: $detail-control-padding-vertical $detail-control-padding-horizontal;

        &.control-select__option--is-focused {
          background-color: rgba(lighten($app-header-background-color, 50%), 0.4);
        }
        &.control-select__option--is-selected {
          background-color: lighten($app-header-background-color, 10%);
        }
      }
    }
  }
}

.control-select.inline {
  width: 100%;
  .control-select__control {
    height: $table-control-height;
    min-height: $table-control-height;
    border-radius: $table-control-height / 2;
    font-size: $table-control-font-size;
    background-color: $table-control-background-color;
    .control-select__single-value {
      //padding-top: 0.2em;
    }
  }
  .control-select__menu {
    .control-select__option {
      font-size: $table-control-font-size;
    }
  }
}

.table-button {
  @include cursor-svg($last-contact-cursor-clock, 16, default);
  font-size: $table-control-font-size;
  font-style: normal;
  height: $table-control-height;
  //line-height: $table-control-height;
  background-color: $table-control-background-color;
  border: 1px solid #9b9b9b;
  border-radius: 0.8em;
  padding: 0 0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.control-flags {
  height: $detail-control-height;
  padding: $detail-control-padding-vertical 0.5em;
  background-color: lighten($detail-body-background-color, 5%);
  border: 1px solid darken($detail-body-background-color, 1%);
  border-radius: $detail-control-border-radius;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 0.4em;
  .control-flag-icon {
    cursor: pointer;
    color: darken($detail-body-background-color, 5%);
    margin: 0 0.2em;
    &.active {
      color: #0083d5;//lighten($app-header-background-color, 18%);
    }
  }
}

