$data-body-padding-horizontal: $app-padding-horizontal;
$data-body-background-color: #c3c3c3;
$data-body-color: #0f0f0f;
$data-body-hover: desaturate(lighten($app-header-background-color, 45%), 21%);
$data-body-selected: desaturate(lighten($app-header-background-color, 40%), 10%);

$table-control-height: 1.45rem;
$table-control-padding-horizontal: 0.5rem;
$table-control-padding-vertical: 0.1rem;
$table-control-focus-color: $app-header-background-color;
$table-control-font-size: 0.9rem;

.table-header {
  background-color: #535353;
  color: #e1e1e1;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0;
  table-layout: fixed;
}
.table-body {
  overflow: hidden;
  color: $data-body-color;
  background-color: $data-body-background-color;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0;
  table-layout: fixed;
  &.active-bid {
    overflow: visible;
  }
}
.table tbody tr {
  &.selectable {
    cursor: pointer;
    &:hover:not(.selected) {
      background-color: $data-body-hover;
    }
  }
  &.selected {
    background-color: $data-body-selected;
  }
}

.table td.selectable {
  cursor: pointer;
  &:hover:not(.selected), &:hover:not(.selected) ~ td {
    background-color: $data-body-hover;
  }
}

.table th, .table td {
  padding: 0.2rem 0.4rem;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:last-child {
    padding-right: $data-body-padding-horizontal;
  }
  &:first-child {
    padding-left: $data-body-padding-horizontal;
  }
  .table-button {
    cursor: pointer;
    min-height: $table-control-height;
    font-size: $table-control-font-size;
    font-style: normal;
    height: $table-control-height;

    background-color: #f0f0f0;
    border: 1px solid #9b9b9b;
    border-radius: 0.8rem;
    padding: 0 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .table-select {
    width: 100%;
    .table-select__control {
      min-height: $table-control-height;
      font-size: $table-control-font-size;
      font-style: normal;
      height: $table-control-height;
      padding: 0;

      background-color: #f0f0f0;
      border-color: #9b9b9b;
      border-radius: 0.8rem;

      &.table-select__control--is-focused {
        color: #495057;
        border-color: lighten($table-control-focus-color, 50%);
        outline: 0;
        box-shadow: 0 0 0 0.06rem lighten($table-control-focus-color, 30%);
      }
      .table-select__value-container {
        padding: $table-control-padding-vertical ($table-control-padding-horizontal - 0.15rem);
      }
      .table-select__indicators {
        .table-select__indicator-separator {
          margin: 0.3rem 0;
        }
        .table-select__indicator {
          &.table-select__dropdown-indicator {
            padding: 0.15rem;
          }
        }
      }
    }
    .table-select__menu {
      margin-top: 0.1rem;
      .table-select__menu-list {
        border-radius: 0.5rem;
        padding: 0.2rem 0;
        .table-select__option {
          margin: 0;
          padding: $table-control-padding-vertical $table-control-padding-horizontal;
          font-size: $table-control-font-size;
          &.table-select__option--is-focused {
            background-color: rgba(lighten($app-header-background-color, 50%), 0.4);
          }
          &.table-select__option--is-selected {
            background-color: lighten($app-header-background-color, 10%);
          }
        }
      }
    }
  }

  &.projects-name {
    width: 45%;
  }
  &.projects-manager {
    width: 35%;
    @include media("<=phone") {
      display: none;
    }
  }
  &.projects-status {
    width: 20%;
    &.active-bid {
      overflow: visible;
    }
  }
  &.projects-last-contact {
    width: 15%;
  }

  .sort-icon {
    margin-right: 0.2rem;
    cursor: pointer;
    &.not-set {
      //display: none;
      opacity: 0.35;
    }
  }
  .sortable-column {
    cursor: pointer;
  }
}
