$data-body-padding-horizontal: $app-padding-horizontal;
$data-body-background-color: #c3c3c3;
$data-body-color: #0f0f0f;
$data-body-hover: desaturate(lighten($app-header-background-color, 45%), 21%);
$data-body-selected: desaturate(lighten($app-header-background-color, 40%), 10%);

$table-control-height: 1.4rem;
$table-control-padding-horizontal: 0.6rem;
$table-control-padding-vertical: 0.1rem;
$table-control-focus-color: $app-header-background-color;

$table-row-font-size: 0.9rem;
$table-header-font-size: $table-row-font-size;
$table-control-font-size: $table-row-font-size;
// *********************************************************************************************************************
// TABLE, ROWS
// *********************************************************************************************************************
.table-header {
  background-color: #535353;
  color: #e1e1e1;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0;
  table-layout: fixed;
}

.table-body {
  //overflow: hidden;
  color: $data-body-color;
  background-color: $data-body-background-color;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0;
  table-layout: fixed;
  &.active-bid {
    overflow: visible;
  }
}

.table tbody tr {
  cursor: pointer;
  &:hover:not(.selected) {
    background-color: $data-body-hover;
  }
  &.selected {
    background-color: $data-body-selected;
  }
}

// *********************************************************************************************************************
// TABLE CELLS
// *********************************************************************************************************************
.table th, .table td {
  padding: 0.3rem 0.5rem;
  &.inline {
    padding: 0 0.4rem;
  }
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-size: $table-header-font-size;
  &:not(th) {font-size: $table-row-font-size};
  &:last-child {
    padding-right: $data-body-padding-horizontal;
  }
  &:first-child {
    padding-left: $data-body-padding-horizontal;
  }
  .sort-icon {
    margin-right: 0.2rem;
    cursor: pointer;
    &.not-set {
      opacity: 0.35;
    }
  }
  .sortable-column {
    cursor: pointer;
  }

  // *******************************************************************************************************************
  // TABLE COLUMN FIELDS
  // *******************************************************************************************************************

  // *** project ***********************************
  &.project-name {
    width: 20%;
  }
  &.project-client {
    width: 20%;
  }
  &.project-producer {
    width: 15%;
    @include media("<=phone") {
      display: none;
    }
  }
  &.project-manager {
    width: 15%;
    @include media("<=phone") {
      display: none;
    }
  }
  &.project-supervisor {
    width: 15%;
    @include media("<=phone") {
      display: none;
    }
  }
  &.project-status {
    width: 15%;
    &.active-bid {
      overflow: visible;
    }
  }

  // *** bid *****************************************
  &.bid-name {
    width: 17%;
  }
  &.bid-client {
    width: 17%;
  }

  &.bid-team {
    width: 27%;
    .table-team {
      display: flex;
      flex-wrap: wrap;
      //flex-direction: column;
      .team-member {
        overflow: hidden;
        text-overflow: ellipsis;
        &:not(:last-child) {
          margin-right: 0.6em;
        }
        &.supervisor {
          @include media("<=tablet") {
            display: none;
          }
        }
        &.manager {
          @include media("<=phone") {
            //display: none;
          }
        }
        svg {
          //width: 1.7rem;
          font-size: 0.9em;
          margin-right: 0.2em;
        }
      }
    }
  }
  &.bid-status {
    width: 8em;
    min-width: 8em;
    overflow: visible;
    @include media("<=phone") {
      width: 7em;
      min-width: 7em;
    }
  }
  &.bid-budget {
    width: 10em;
    min-width: 10em;
    white-space: initial;
    @include media("<=tablet") {
      display: none;
    }

  }
  &.bid-go-ahead {
    width: 8em;
    min-width: 8em;
    //&:not(th) {text-align: center;}
    @include media("<=phone") {
      display: none;
    }
  }
  &.bid-last-contact {
    width: 8em;
    min-width: 8em;
    &:not(th) {text-align: center;}
    @include media("<=phone") {
      display: none;
    }
  }

  // *** company *****************************************
  &.company-name {
    width: 30%;
    @include media("<=phone") {
      width: 55%;
    }
  }
  &.company-business {
    width: 25%;
    @include media("<=phone") {
      width: 45%;
    }
  }
  &.company-contact {
    width: 45%;
    @include media("<=phone") {
      display: none;
    }
    .table-contact {
      display: flex;
      flex-wrap: wrap;
      //flex-direction: column;
      .contact-item {
        overflow: hidden;
        text-overflow: ellipsis;
        &:not(:last-child) {
          margin-right: 0.8em;
        }
        svg {
          font-size: 1em;
          margin-right: 0.4em;
        }
      }
    }
  }

  // *** person *****************************************
  &.person-name {
    width: 20%;
    @include media("<=tablet") {
      width: 30%;
    }
    @include media("<=phone") {
      width: 50%;
    }
    @include media("<small-phone") {
      width: 100%;
    }
  }
  &.person-company {
    width: 20%;
    @include media("<=tablet") {
      width: 30%;
    }
    @include media("<=phone") {
      width: 50%;
    }
    @include media("<small-phone") {
      display: none;
    }
  }
  &.person-profession {
    width: 25%;
    @include media("<=tablet") {
      width: 40%;
    }
    @include media("<=phone") {
      display: none;
    }
  }
  &.person-contact {
    width: 35%;
    @include media("<=tablet") {
      display:none
    }
    .table-contact {
      display: flex;
      flex-wrap: wrap;
      //flex-direction: column;
      .contact-item {
        overflow: hidden;
        text-overflow: ellipsis;
        &:not(:last-child) {
          margin-right: 0.8em;
        }
        svg {
          font-size: 1em;
          margin-right: 0.4em;
        }
      }
    }
  }
}
